@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}


.turntable-bg {
	width:100%;
	margin:2rem auto 0 auto;
	height:410px;
	position:relative;
	background:url("../images/turntable-bg2.png") no-repeat;
	background-position:top;
	background-size:contain
}

.turntable-bg .pointer {
	width:4rem;
	height:10rem;
	position:absolute;
	left:50%;
	top:5.4rem;
	margin-left:-2rem;
	margin-top:-3rem;
	z-index:8;
	cursor:pointer;
	text-align:center;
}
.turntable-bg .rotate {
	width:86%;
	height:90%;
	left:7%;
	top: 0.8rem;
	position:absolute;
	
}